.our-team {
  background-image: url(../img/our-team-bg.png);
  background-repeat: repeat-x;
  background-position: 50% 0;
}

.aboutus-text {
  p {
    margin-bottom: 3rem;
    @media (max-width: 768px) {
      margin-bottom: 2rem;
    }
  }
}

@media (min-width: 1024px) {
  #about-us-section {
    &:after {
      content: "";
      position: absolute;
      right: 0;
      top: 0;
      bottom: 0;
      width: 35%;
      background: #f0f4f8;
    }
  }
}
@media (max-width: 576px) {
  #about-us-section {
    &:after {
      content: "";
      position: absolute;
      left: 0;
      right: 0;
      bottom: 0;
      bottom: 0;
      width: 100%;
      height: 175px;
      background: #f0f4f8;
    }
  }
}
