.map-holder {
  .img {
    position: relative;
    overflow: hidden;
  }
  img {
    display: block;
    width: 100%;
  }
  .map {
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    img {
      width: 100%;
      height: auto;
      object-fit: cover;
    }
  }
}
.cols-2 {
  columns: 2;
  gap: 50px;
}

.markdown {
  p {
    margin-bottom: 20px;
  }
  ul {
    margin-bottom: 30px;
    list-style: disc;
    list-style-position: inside;
  }
}

.city-content-holder {
  &:after {
    content: '';
    position: absolute;
    top: -165px;
    left: 0;
    right: 0;
    width: 100%;
    height: 239px;
    background: url(../img/testimonials-bg.png) repeat-x 50% 0;
  }
  @media screen and (max-width: 1023px) {
    &:after {
      display: none;
    }
  }
}
