.faq-list {
  border-top: 1px solid #e4e7eb;
  font-size: 18px;
  li {
    border-bottom: 1px solid #e4e7eb;
    padding: 20px 0;
    margin-bottom: 10px;
    &.open {
      h4 {
        &:after {
          transform: rotate(180deg);
        }
      }
      div {
        display: block;
      }
    }
  }
  h4 {
    cursor: pointer;
    font-size: 19px;
    margin: 0;
    position: relative;
    color: #1f2933;
    button {
      background: none;
      padding: 0 25px 0 0;
      border: 0;
      display: block;
      width: 100%;
      text-align: left;
      cursor: pointer;
      font-weight: 600;
      outline: none;
    }
    &:after {
      content: "";
      background: url(../img/chevron.svg) no-repeat;
      width: 21px;
      height: 13px;
      position: absolute;
      right: 0;
      top: 9px;
    }
  }
  div {
    padding: 10px 30px 0 0;
    max-width: 770px;
    line-height: 30px;
    font-size: 18px;
    display: none;
  }
  p {
    margin-bottom: 0;
  }
  // @media screen and (max-width: 414px) {
  //   h4 {
  //     &:after {
  //       right: -17px;
  //     }
  //   }
  // }
}
