@tailwind base;
@tailwind components;
@tailwind utilities;

@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;800;900&display=swap");

html {
  font-size: 10px;
}

body {
  color: #7b8794;
  font-size: 1.6rem;
  min-width: 320px;
}

.border-box {
  box-sizing: border-box;
}

.box-shadow {
  box-shadow: 0 0.5rem 1.8rem rgba(0, 0, 0, 0.15);
}
