#steps {
  &:after {
    content: "";
    position: absolute;
    left: 50%;
    top: 0;
    bottom: 0;
    width: 1px;
    height: 100%;
    background: #e9e9e9;
  }
  .step {
    position: relative;
    z-index: 1;
    &:after {
      content: "";
      position: absolute;
      top: calc(50% - 29px);
      left: calc(50% - 14px);
      background: url(../img/step-bg.svg) no-repeat;
      width: 104px;
      height: 58px;
      border-top: 15px solid #fff;
      border-bottom: 15px solid #fff;
    }
    &:nth-child(even) {
      &:after {
        transform: rotate(180deg);
        left: calc(50% - 89px);
      }
    }
  }
  @media screen and (max-width: 1023px) {
    .step:after,
    &:after {
      display: none;
    }
  }
}
.property {
  width: 27.6rem;
  @media screen and (max-width: 1023px) {
    width: 17.3rem;
    margin: 0 auto;
  }
}
