.modal-open {
  overflow: hidden;
}
.modal {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 1050;
  display: none;
  overflow: hidden;
  outline: 0;
}
.modal-open .modal {
  overflow-x: hidden;
  overflow-y: auto;
}
.modal-dialog {
  position: relative;
  width: auto;
  margin: 0.5rem;
  pointer-events: none;
}
.modal.fade .modal-dialog {
  transition: transform 0.3s ease-out;
  transform: translate(0, -25%);
}
.modal.show .modal-dialog {
  transform: translate(0, 0);
}
.modal-dialog-centered {
  display: flex;
  align-items: center;
  min-height: calc(100% - (0.5rem * 2));
}
.modal-content {
  position: relative;
  display: flex;
  flex-direction: column;
  width: 100%;
  pointer-events: auto;
  background-color: #fff;
  background-clip: padding-box;
  border-radius: 10px;
  outline: 0;
}
.modal-backdrop {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 1040;
  background-color: #000;
}
.modal-backdrop.fade {
  opacity: 0;
}
.modal-backdrop.show {
  opacity: 0.5;
}
.modal-header {
  height: 0;
}
.modal-header .close {
  position: absolute;
  right: 13px;
  top: -5px;
  font-size: 44px;
  z-index: 10;
}
.modal-title {
  margin-bottom: 0;
  line-height: 1.5;
}
.modal-body {
  position: relative;
  flex: 1 1 auto;
  padding: 40px 20px 0;
}
.modal-footer {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  padding: 1rem;
  border-top: 1px solid #e9ecef;
}
.modal-footer > :not(:first-child) {
  margin-left: 0.25rem;
}
.modal-footer > :not(:last-child) {
  margin-right: 0.25rem;
}
.modal-scrollbar-measure {
  position: absolute;
  top: -9999px;
  width: 50px;
  height: 50px;
  overflow: scroll;
}
@media (min-width: 576px) {
  .modal-dialog {
    max-width: 630px;
    margin: 1.75rem auto;
  }
  .modal-dialog-centered {
    min-height: calc(100% - (1.75rem * 2));
  }
  .modal-sm {
    max-width: 300px;
  }
}
@media (min-width: 992px) {
  .modal-lg {
    max-width: 602px;
  }
}

.cashoffer-form .cash-offer .form-group {
  position: relative;
  margin-bottom: 1.3rem;
}
.cashoffer-form .cash-offer .form-group .form-control {
  display: block;
  width: 100%;
  padding: 0.375rem 0.75rem;
  font-size: 1.6rem;
  line-height: 1.5;
  color: #7b8794;
  background-color: #fff;
  background-clip: padding-box;
  border: 1px solid #ced4da;
  border-radius: 1rem;
  transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
  height: 54px;
  padding-left: 51px;
}

.cashoffer-form .cash-offer .form-group .form-control:focus,
.cashoffer-form .cash-offer .form-group .form-control:not(:focus):valid {
  padding: 1.2rem 0.75rem 0.375rem 51px;
}

.cashoffer-form .cash-offer .iconbox {
  position: absolute;
  color: #000;
  bottom: 30%;
  left: 18px;
}

.cashoffer-form .cash-offer .form-control:focus ~ .floating-label,
.cashoffer-form .cash-offer .form-control:not(:focus):valid ~ .floating-label {
  top: 5px;
  bottom: 10px;
  left: 52px;
  font-size: 0.9rem;
  font-weight: 600;
  text-transform: uppercase;
  opacity: 1;
}

.cashoffer-form .cash-offer .floating-label {
  position: absolute;
  pointer-events: none;
  left: 52px;
  top: 16px;
  transition: 0.2s ease all;
  color: #7b8794;
}

.cashoffer-form .noti-alert {
  color: #aaa;
}
