#mobileNav {
  position: fixed;
  left: 0;
  top: 0;
  width: 0;
  background: #f0f4f8;
  min-height: 100vh;
  width: 100vw;
  z-index: 100;
  align-items: center;
  justify-content: center;
  display: flex;
  .close {
    background: none;
    border: 0;
    color: #fff;
    font-size: 40px;
    position: absolute;
    right: 20px;
    top: 42px;
    width: 20px;
    height: 20px;
    padding: 0;
  }
  .logo {
    position: absolute;
    top: 2rem;
    left: 1rem;
  }
}
.mobileNav-inner {
  max-height: 90vh;
  overflow: auto;
  width: 320px;
  position: relative;
  display: flex;
  flex-direction: column;
  margin-bottom: 120px;
  margin-top: 100px;
  .nav {
    text-align: center;
    font-size: 22px;
    display: block;
    font-weight: 500;
    padding-bottom: 40px;
    a {
      color: #7b8794;
    }
    li {
      padding-bottom: 25px;
    }
  }
  .phone {
    font-size: 20px;
    font-weight: bold;
    color: #fff;
    text-align: center;
    margin: 10px 0 0;
    a {
      color: #fff;
    }
  }
}
