.photos-holder {
  display: flex;
  flex-direction: column;
  align-items: center;
  & > div:first-child {
    flex: 1 100%;
    display: flex;
    width: 100%;
    a {
      width: 100%;
    }
  }
}
