#comparison-table {
  border-collapse: collapse;
  th {
    text-align: center;
    padding: 0 0 4.3rem;
    width: 33.33333%;
  }
  td {
    padding: 1.7rem 2rem 1.7rem 3rem;
    &:last-child {
      .mdl-holder {
        max-width: 130px;
      }
    }
  }
  tbody {
    td {
      // text-align: center;
      border-bottom: 1px solid #e4e7eb;
      &:first-child {
        text-align: left;
      }
    }
  }
  .mdl-holder {
    max-width: 220px;
    width: 100%;
    margin: 0 auto;
    display: flex;
    align-items: center;
    color: #1f2933;
  }
  @media (max-width: 768px) {
    th {
      padding-bottom: 1.7rem;
    }
    .mdl-holder {
      display: flex;
      flex-direction: column;
      .ml-auto {
        margin: 1rem auto 0;
      }
      img {
        margin: 0 auto 1rem;
      }
    }
    td {
      padding: 1.4rem 1rem;
    }
  }
}
