#footer {
  &.homepage {
    padding-top: 12rem;
    &:after {
      content: '';
      height: 252px;
      position: absolute;
      top: -252px;
      left: 0;
      width: 100%;
      background: url(../img/bg-footer.png) repeat-x 50% 0;
    }
    @media (max-width: 768px) {
      padding-top: 3.5rem;
    }
  }
  &.not-homepage:not(.citypage) {
    padding-top: 2rem;
    &:after {
      content: '';
      height: 119px;
      position: absolute;
      top: -119px;
      left: 0;
      width: 100%;
      background: url(../img/bg-footer-inner.png) repeat-x 50% 0;
    }
  }
  &.citypage {
    padding-top: 4rem;
  }
}
.openNav {
  display: none;
  position: relative;
  width: 18px;
  height: 14px;
  cursor: pointer;
  border: 0;
  padding: 0;
  background: none;
  &:before,
  &:after,
  span {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 2px;
    background: #7b8794;
  }
  &:before,
  &:after {
    content: '';
    top: 6px;
  }
  &:after {
    top: auto;
    bottom: 0;
  }
}
.drop-holder {
  position: relative;
  z-index: 100;
  svg {
    font-size: 12px;
    position: relative;
    top: 1px;
  }
  span {
    cursor: pointer;
  }
  div {
    position: absolute;
    left: -20px;
    top: 0;
    padding-top: 30px;
    display: none;
  }
  &:hover {
    div {
      display: block;
    }
  }
  ul {
    white-space: nowrap;
    background: rgba(255, 255, 255, 0.9);
    list-style: none;
    padding: 0;
    margin: 0;
    padding: 5px 20px 25px;
    max-height: 300px;
    overflow: auto;
    border li {
      padding-top: 10px;
    }
    a {
      color: #7b8794;
      &:hover {
        color: #2cace2;
      }
    }
  }
}

@media (max-width: 1450px) {
  .openNav {
    display: block;
  }
  #navMenu {
    display: none;
  }
}
