.testimonials-holder {
  &:after {
    content: "";
    position: absolute;
    top: -165px;
    left: 0;
    right: 0;
    width: 100%;
    height: 239px;
    background: url(../img/testimonials-bg.png) repeat-x 50% 0;
  }
  @media screen and (max-width: 500px) {
    &:after {
      top: -100px;
    }
  }
}
.testimonial-text {
  position: relative;
  p {
    font-size: 1.8rem;
    margin-bottom: 2.5rem;
    line-height: 1.625;
    position: relative;
    z-index: 2;
  }
  &:after {
    content: "";
    background: url(../img/quote-bg.svg) no-repeat;
    width: 34px;
    height: 23px;
    position: absolute;
    left: -17px;
    top: -6px;
    z-index: 1;
  }
}
